body{
    height: 98vh;
    width: auto;
    grid-template-rows: 55px 1fr;
    grid-template-columns: 80px 1fr;
    display: grid;
    grid-row: span 1;
    grid-column: span 1;
    font-family: Arial, Helvetica, sans-serif;
}

aside{
    grid-row: span 2;
    grid-column: span 1;
    background-color: gray;
    text-align: center;
    font-weight: bold;
    color: white;
    vertical-align: middle;
    padding-top: 180px;
}

h1{
    text-align: right;
    font-weight: bold;
    font-size: 30px;
    grid-row: span 1;
    grid-column: span 1;
    background-color: #4286f4;
    color: white;
    padding-right: 10px;
    padding-top: 10px;
}

#content{
    width: auto;
    grid-row: span 1;
    grid-column: span 1;
    font-weight: bold;
    font-size: 20px;
    padding-top: 40px;
}

#queryButton{
    position: relative;
    left: 50%;
    margin-left: 10px;
}

#line-break{
    position: relative;
    left: 100px;
}

#innerContent{
    position: relative;
    left: 50%;
    padding-top: 15px;
}
#userInput{
    position: relative;
    left: 50%;
}
.inputField{
    position: relative;
    left: 50%;
}
input{
    border-radius: 10px;
    padding-left: 10px;
}
.command{
    padding-top: 20px;
    padding-bottom: 20px;
}
a:hover {
    color: red;
}
a:active {
    color: white;
}
a {
    color: white;
    text-decoration: none;
}